In [2]:
import pandas as pd

In [3]:
property_pd = pd.read_csv(r'C:\Users\jfoo\Desktop\MACAD\03_AIA\01_GRAPHML\Property_Valuation_and_Assessment_Data_20240516.csv')
property_pd.head()

,BBLE,BORO,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,...,VALTYPE,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,NTA,New Georeferenced Column
0,1000163859,1,16,3859,NaN,"CHEN, QI TOM",R4,2,0,0,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000730028,1,73,28,NaN,NYC DSBS,V1,4,183,52,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000730029,1,73,29,NaN,NYC DSBS,Y7,4,90,500,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000297504,1,29,7504,NaN,NaN,R0,2,36,73,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000360012,1,36,12,NaN,NYC DSBS,Y7,4,534,604,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
manhattan_df = property_pd[property_pd['BORO'] == 1]
len(manhattan_df)

1382564

In [9]:
clean_df = manhattan_df.dropna(subset = 'Latitude')
len(clean_df)

1367355

In [10]:
clean_value_df = clean_df.dropna(subset = 'AVTOT')
len(clean_value_df)

1367355

In [11]:
value_df = clean_value_df[clean_value_df['AVTOT'] != 0]
final_df = value_df.drop(['EASEMENT', 'OWNER'], axis= 'columns')
final_df.to_csv('cleaned_property_data.csv')
final_df.head()

,BBLE,BORO,BLOCK,LOT,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,EXT,STORIES,...,VALTYPE,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,NTA,New Georeferenced Column
3514,1009281654,1,928,1654,R4,2,0,0,NaN,20.0,...,AC-TR,MANHATTAN,40.736451,-73.978732,106.0,2.0,64.0,1086124.0,Gramercy,POINT (-73.978732 40.736451)
3519,1009281661,1,928,1661,R4,2,0,0,NaN,20.0,...,AC-TR,MANHATTAN,40.736451,-73.978732,106.0,2.0,64.0,1086124.0,Gramercy,POINT (-73.978732 40.736451)
3544,1010511417,1,1051,1417,R4,2,0,0,NaN,NaN,...,AC-TR,MANHATTAN,40.759212,-73.994510,104.0,3.0,115.0,1088437.0,Clinton,POINT (-73.99451 40.759212)
7066,1006371201,1,637,1201,R8,2C,0,0,NaN,10.0,...,AC-TR,MANHATTAN,40.735330,-74.009670,102.0,3.0,75.0,1012003.0,West Village,POINT (-74.00967 40.73533)
10598,1002791006,1,279,1006,R1,2C,0,0,NaN,NaN,...,AC-TR,MANHATTAN,40.712189,-73.997843,103.0,1.0,27.0,1003389.0,Chinatown,POINT (-73.997843 40.712189)