In [1]:
import pandas as pd

In [3]:
property_pd = pd.read_csv(r'C:\Users\jfoo\Desktop\MACAD\03_AIA\01_GRAPHML\Property_Valuation_and_Assessment_Data_20240516.csv')
property_pd.head()

,BBLE,BORO,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,...,VALTYPE,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,NTA,New Georeferenced Column
0,1000163859,1,16,3859,NaN,"CHEN, QI TOM",R4,2,0,0,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000730028,1,73,28,NaN,NYC DSBS,V1,4,183,52,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000730029,1,73,29,NaN,NYC DSBS,Y7,4,90,500,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000297504,1,29,7504,NaN,NaN,R0,2,36,73,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000360012,1,36,12,NaN,NYC DSBS,Y7,4,534,604,...,AC-TR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
manhattan_df = property_pd[property_pd['BORO'] == 1]
len(manhattan_df)

1382564

In [9]:
clean_df = manhattan_df.dropna(subset = 'Latitude')
len(clean_df)

1367355

In [10]:
clean_value_df = clean_df.dropna(subset = 'AVTOT')
len(clean_value_df)

1367355

In [17]:
final_df = clean_value_df[clean_value_df['AVTOT'] != 0]
final_df.to_csv('cleaned_property_data.csv')