In [2]:
import pandas as pd

In [5]:
property_pd = pd.read_csv(r'C:\Users\jfoo\OneDrive - tvsdesign\MACAD\03_AIA\01_GRAPHML\cleaned_property_data.csv')
property_pd.head()

c:\Users\jfoo\AppData\Local\miniconda3\envs\graphml\lib\site-packages\IPython\core\interactiveshell.py:3508: DtypeWarning: Columns (1,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,BBLE,BORO,BLOCK,LOT,EASEMENT,OWNER,BLDGCL,TAXCLASS,LTFRONT,...,VALTYPE,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,NTA,New Georeferenced Column
0,3514,1009281654,1,928,1654,NaN,NaN,R4,2,0,...,AC-TR,MANHATTAN,40.736451,-73.978732,106.0,2.0,64.0,1086124.0,Gramercy,POINT (-73.978732 40.736451)
1,3519,1009281661,1,928,1661,NaN,NaN,R4,2,0,...,AC-TR,MANHATTAN,40.736451,-73.978732,106.0,2.0,64.0,1086124.0,Gramercy,POINT (-73.978732 40.736451)
2,3544,1010511417,1,1051,1417,NaN,NaN,R4,2,0,...,AC-TR,MANHATTAN,40.759212,-73.994510,104.0,3.0,115.0,1088437.0,Clinton,POINT (-73.99451 40.759212)
3,7066,1006371201,1,637,1201,NaN,NaN,R8,2C,0,...,AC-TR,MANHATTAN,40.735330,-74.009670,102.0,3.0,75.0,1012003.0,West Village,POINT (-74.00967 40.73533)
4,10598,1002791006,1,279,1006,NaN,U CHOI WONG,R1,2C,0,...,AC-TR,MANHATTAN,40.712189,-73.997843,103.0,1.0,27.0,1003389.0,Chinatown,POINT (-73.997843 40.712189)

In [6]:
manhattan_df = property_pd[property_pd['BORO'] == 1]
len(manhattan_df)

1341059

In [8]:
clean_df = manhattan_df.dropna(subset = ['Latitude'])
len(clean_df)

1341059

In [10]:
clean_value_df = clean_df.dropna(subset = ['AVTOT'])
len(clean_value_df)

1341059

In [13]:
value_df = clean_value_df[clean_value_df['AVTOT'] != 0]
final_df = value_df.drop(['EASEMENT', 'OWNER'], axis= 'columns')
final_df.to_csv('cleaned_property_data.zip')
final_df.head()

,Unnamed: 0,BBLE,BORO,BLOCK,LOT,BLDGCL,TAXCLASS,LTFRONT,LTDEPTH,EXT,...,VALTYPE,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,NTA,New Georeferenced Column
0,3514,1009281654,1,928,1654,R4,2,0,0,NaN,...,AC-TR,MANHATTAN,40.736451,-73.978732,106.0,2.0,64.0,1086124.0,Gramercy,POINT (-73.978732 40.736451)
1,3519,1009281661,1,928,1661,R4,2,0,0,NaN,...,AC-TR,MANHATTAN,40.736451,-73.978732,106.0,2.0,64.0,1086124.0,Gramercy,POINT (-73.978732 40.736451)
2,3544,1010511417,1,1051,1417,R4,2,0,0,NaN,...,AC-TR,MANHATTAN,40.759212,-73.994510,104.0,3.0,115.0,1088437.0,Clinton,POINT (-73.99451 40.759212)
3,7066,1006371201,1,637,1201,R8,2C,0,0,NaN,...,AC-TR,MANHATTAN,40.735330,-74.009670,102.0,3.0,75.0,1012003.0,West Village,POINT (-74.00967 40.73533)
4,10598,1002791006,1,279,1006,R1,2C,0,0,NaN,...,AC-TR,MANHATTAN,40.712189,-73.997843,103.0,1.0,27.0,1003389.0,Chinatown,POINT (-73.997843 40.712189)